@import '../styles/variables.scss';

nav.main {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    margin-top: -0.7rem; //To move the nav closer to the header's bottom border

    a{
        display: block;
        padding: 0.5rem 0.75rem;
        font-size: 0.9REM;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        &.active{
            background-color: #fff;
            color: $primary-color;
        }

        @include breakpoint-xs {
            padding: 0.9rem 2rem;
            font-size: 1.2rem;
        }      
    }
}